:root {
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#container-outer {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#container-inner {
    width: 50vh;
    height: 50vh;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.play-btn {
    font-size: 5rem;
}

.play-btn button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: white;
  color: black;
}