:root {
    --hover-color:#89CFF0;
    --outline-hover-color: blue;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#container-outer {
    display: flex;
    justify-content: center;
}

#container-inner {
    width: 54vh;
    height: 54vh;
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.play-btn {
    border: 1px solid black;
    font-size: 5rem;
}

.play-btn:hover{
    background-color: var(--hover-color);
    border-color: var(--outline-hover-color);
}

.play-btn button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: white;
  color: black;
}